body {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: black;
}

.navbar-default .navbar-brand:hover {
    color: black;
}

.container-art {
    min-height: 30em;
}

.container-sales {
    background-color: #1E3932;
    min-height: 20em;
}

.container-art, .jumbotron {
    background-color: #1E3932;
    /* background-color: #D6152B; */
}

.products-jump {
    background-color: #D6152B;
}

.navbar {
    margin-bottom: 0;
    background-color: #D6152B;
    border-radius: 0;
    border: 0;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.img-fluid {
    width: 100%;
    opacity: 0.72;
}

.share-space {
    height: 332.48px;
    /* width: 100%; */
    max-width: 100%;
}

.share-space:hover {
    opacity: .5;
}

.col-xs-4 {
    padding-right: 0;
    padding-left: 0;
}

.col-xs-12 {
    padding-right: 0;
    padding-left: 0;
}

.jumbotron {
    margin-bottom: 0;;
}

.container-fluid .jumbotron {
    border-radius: 0;
}

.sales-center {
    vertical-align: middle;
}